<h1><%= @post.titulo %></h1>


<ul class="comentarios_post">
	<% @post.comentarios_posts.each do |comentario_post| %>
	<li id="<%= dom_id(comentario_post)%>">
		<%= comentario_post.contenido %>
		<%= link_to "Editar Comentario",edit_post_comentarios_post_path(comentario_post) %>
		<%= link_to "Eliminar Comentario",post_comentarios_post_path(comentario_post), method: :delete, data: {comfirm: "Esta seguro?"} %>
	</li>
	<% end %>
</ul>

<p>
	<%= link_to "Nuevo Comentario",new_post_comentarios_post_path %>  <%= link_to "Volver",posts_path %>	  
</p> 